<!-- <ul>
	<li><a href="{{ root_url }}/">Blog</a></li>
	<li><a href="{{ root_url }}/about">About</a></li>
	<li><a href="{{ root_url }}/portfolio">Portfolio</a></li>
	<li><a href="{{ root_url }}/archives">Archive</a></li>
</ul> -->
{% if site.simple_search %}
<form action="{{ site.simple_search }}" method="get">
  <fieldset role="search">
    <input type="hidden" name="sites" value="{{ site.url | shorthand_url }}" />
    <input class="search" type="text" name="q" results="0" placeholder="Search&hellip;"/>
  </fieldset>
</form>
{% endif %}
